<app-modal [isOpen]="isOpen" [title]="modoEdicion ? 'Editar venta' : 'Publicar venta'" (close)="close.emit(false)">

  <!-- PREVIEW -->
  <div class="preview-card">

    <img *ngIf="imagen" [src]="imagen" />

    <div>
      <h4>{{ nombreJuego || 'Nombre del videojuego' }}</h4>
      <p>{{ plataforma || 'Plataforma' }}</p>
      <p>{{ estado || 'Estado' }}</p>
      <p>{{ precio ? precio + '€' : 'Precio' }}</p>
    </div>

    <div class="acciones-top">
      
      <button [disabled]="!formularioValido()" (click)="publicar()">  {{ modoEdicion ? 'Guardar cambios' : 'Publicar' }} </button>
      <button (click)="close.emit(false)">Cancelar</button>

    </div>

  </div>

  <!-- BUSQUEDA -->
  <div class="formulario">

    <div class="campo-formulario">
      <label>Videojuego</label>

      <div class="campo-busqueda">

        <input
          [(ngModel)]="nombreJuego"
          (input)="buscarJuego()"
          (focus)="onFocusJuego()"
          (blur)="onBlurJuego()"
        />

        <span
          class="clear"
          *ngIf="nombreJuego"
          (click)="nombreJuego=''; resultadosBusqueda=[]"
        >
          ✖
        </span>

        <div class="autocomplete" *ngIf="focusedJuego">

          <div *ngIf="loadingJuego" class="loading">
            Buscando...
          </div>

          <div *ngIf="!loadingJuego && resultadosBusqueda.length">

            <div
              *ngFor="let j of resultadosBusqueda"
              (click)="seleccionarJuego(j)"
            >
              <img *ngIf="j.imagen" [src]="j.imagen" />

              {{ j.nombre }}
            </div>

          </div>

          <div
            *ngIf="!loadingJuego && !resultadosBusqueda.length && nombreJuego"
            class="no-results"
          >
            No se encontraron juegos
          </div>

        </div>

      </div>
    </div>

    <div class="campo-formulario">
      <label>Plataforma</label>

      <div class="campo-busqueda">

        <input
          [(ngModel)]="plataforma"
          (input)="buscarPlataforma()"
          (focus)="onFocusPlataforma()"
          (blur)="onBlurPlataforma()"
        />

        <span
          class="clear"
          *ngIf="plataforma"
          (click)="plataforma=''; sugerenciasPlataforma=[]"
        >
          ✖
        </span>

        <div class="autocomplete" *ngIf="focusedPlataforma">

          <div *ngIf="loadingPlataforma" class="loading">
            Buscando...
          </div>

          <div *ngIf="!loadingPlataforma && sugerenciasPlataforma.length">

            <div
              *ngFor="let p of sugerenciasPlataforma"
              (click)="seleccionarPlataforma(p)"
            >
              <img *ngIf="p.imagen" [src]="p.imagen" />

              {{ p.nombre }}
            </div>

          </div>

          <div
            *ngIf="!loadingPlataforma && !sugerenciasPlataforma.length && plataforma"
            class="no-results"
          >
            No se encontraron plataformas
          </div>

        </div>

      </div>
    </div>

    <div class="campo-formulario">
      <label>Estado</label>
      <select [(ngModel)]="estado">
        <option value="">Seleccionar</option>
        <option value="NUEVO">Nuevo</option>
        <option value="USADO">Usado</option>
      </select>
    </div>

    <div class="campo-formulario">
      <label>Precio</label>
      <input type="number" [(ngModel)]="precio" />
    </div>
  </div>

  <!-- DESCRIPCIÓN -->
  <div id="descripcion-block">
    <div class="separador">
    <label for="descripcion">Descripción</label>
    <hr>
    </div>
    <div>
      <textarea id="descripcion" [(ngModel)]="descripcion"></textarea>
    </div>

  </div>

</app-modal>