<div class="perfil-container">

  <div>
    <h2>Mi Perfil</h2>
    <a routerLink="/">Volver</a>
  </div>

  <div class="card">

    <div class="field">
      <label>Nombre</label>

      <input *ngIf="editMode"
             [(ngModel)]="usuario.nombre">

      <span *ngIf="!editMode">
        {{ usuario.nombre }}
      </span>
    </div>

    <div class="field">
      <label>Email</label>

      <input *ngIf="editMode"
             [(ngModel)]="usuario.email">

      <span *ngIf="!editMode">
        {{ usuario.email }}
      </span>
    </div>

    <div class="actions">
      <button *ngIf="!editMode" (click)="toggleEdit()">
        Editar
      </button>

      <button *ngIf="editMode" (click)="guardar()">
        Guardar
      </button>
    </div>

  </div>

</div>