.perfil-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.field {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.password-card {
  margin-top: 20px;
}

/* CONTENEDOR */
.tabs-container {
  margin-top: 2rem;
  margin: auto;
  max-width: 800px;
}

/* BOTONES TABS */
.tabs {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #ccc;
  flex-wrap: wrap;
}

.tabs button {
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

/* TAB ACTIVO */
.tabs button.active {
  border-radius: 0;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

/* HOVER */
.tabs button:hover {
  opacity: 0.7;
}

/* CONTENIDO */
.tab-content {
  margin-top: 1rem;
  padding: 1rem;
  background: var(--card);
  border-radius: 10px;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .tabs {
    justify-content: center;
  }
}