<div class="login-wrapper">
  <img src="GameSwapLogo.png" alt="Logo" class="logo" />

  <div class="auth-container">
    <h2>Iniciar sesión</h2>

    <form (ngSubmit)="login()">
      <div class="campo">
        <input
          [(ngModel)]="username"
          name="username"
          placeholder="Usuario"
          (blur)="usernameTouched = true"
        />

        <div class="error" *ngIf="usernameTouched && !username.trim()">
          El usuario es obligatorio
        </div>
      </div>

      <div class="campo">
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Contraseña"
          (blur)="passwordTouched = true"
        />

        <div class="error" *ngIf="passwordTouched && !password.trim()">
          La contraseña es obligatoria
        </div>

        <div
          class="error"
          *ngIf="
            passwordTouched &&
            password.trim().length > 0 &&
            password.trim().length < 8
          "
        >
          La contraseña debe tener al menos 8 caracteres
        </div>
      </div>

      <button type="submit">Entrar</button>
    </form>

    <button (click)="goRegister()" class="link">Crear cuenta</button>
  </div>
</div>
