<app-modal
  [isOpen]="isOpen"
  [title]="modoEdicion ? 'Editar intercambio' : 'Publicar intercambio'"
  (close)="close.emit(false)"
>

  <!-- PREVIEW -->

  <div class="preview-card intercambio">

    <!-- IZQUIERDA -->

    <div class="lado">

      <img *ngIf="imagen" [src]="imagen" />

      <div>
        <h4>{{ nombreJuego || 'Nombre del videojuego' }}</h4>
        <p>{{ plataforma || 'Plataforma' }}</p>
        <p>{{ estado || 'Estado' }}</p>
      </div>

    </div>

    <!-- FLECHA -->

    <div class="swap">
      ⇄
    </div>

    <!-- DERECHA -->

    <div class="lado">

      <img *ngIf="imagenIntercambio"
           [src]="imagenIntercambio" />

      <div>
        <h4> {{ nombreJuegoIntercambio || 'Nombre del intercambio' }} </h4>
        <p> {{ plataformaIntercambio || 'Plataforma'  }} </p>
        <p>{{ estadoIntercambio || 'Estado' }}</p>
      </div>

    </div>

  </div>

  <!-- BOTONES -->

  <div class="acciones-top">

    <button [disabled]="!formularioValido()" (click)="publicar()" >
      {{ modoEdicion ? 'Guardar cambios' : 'Publicar' }}
    </button>

    <button (click)="close.emit(false)">
      Cancelar
    </button>

  </div>

  <!-- FORMULARIO -->

  <div class="formulario">

    <div class="separador">
      <h3>Tu videojuego</h3>
      <hr>
    </div>
    <div class="campo-formulario">
      <label>Videojuego</label>

      <div class="campo-busqueda">

        <input
          type="text"
          placeholder="Buscar videojuego..."
          [(ngModel)]="nombreJuego"
          (input)="buscarJuego()"
          (focus)="focusedJuego = true"
          (blur)="onBlurJuego()"
        />

        <span
          class="clear"
          *ngIf="nombreJuego"
          (click)="limpiarJuego()"
        >
          ✖
        </span>

        <div class="autocomplete" *ngIf="focusedJuego">

          <div *ngIf="loadingJuego" class="loading">
            Buscando...
          </div>

          <div *ngIf="!loadingJuego && resultadosBusqueda.length">

            <div
              *ngFor="let j of resultadosBusqueda"
              (click)="seleccionarJuego(j)"
            >
              <img *ngIf="j.imagen" [src]="j.imagen" />
              {{ j.nombre }}
            </div>

          </div>

          <div
            *ngIf="!loadingJuego && !resultadosBusqueda.length && nombreJuego"
          >
            <div class="no-results">
              No se encontraron juegos
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="campo-formulario">
      <label>Plataforma</label>

      <div class="campo-busqueda">

        <input
          type="text"
          placeholder="Buscar plataforma..."
          [(ngModel)]="plataforma"
          (input)="buscarPlataforma()"
          (focus)="focusedPlataforma = true"
          (blur)="onBlurPlataforma()"
        />

        <span
          class="clear"
          *ngIf="plataforma"
          (click)="plataforma=''"
        >
          ✖
        </span>

        <div class="autocomplete" *ngIf="focusedPlataforma">

          <div *ngIf="loadingPlataforma" class="loading">
            Buscando...
          </div>

          <div *ngIf="!loadingPlataforma && sugerenciasPlataforma.length">

            <div
              *ngFor="let p of sugerenciasPlataforma"
              (click)="seleccionarPlataforma(p)"
            >
              <img *ngIf="p.imagen" [src]="p.imagen" />
              {{ p.nombre }}
            </div>

          </div>

          <div
            *ngIf="!loadingPlataforma && !sugerenciasPlataforma.length && plataforma"
          >
            <div class="no-results">
              No se encontraron plataformas
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="campo-formulario">
      <label>Estado</label>

      <select [(ngModel)]="estado">

        <option value="">Seleccionar</option>

        <option value="NUEVO">Nuevo</option>

        <option value="USADO">Usado</option>

      </select>
    </div>

    <div class="separador">
    <h3>Juego que buscas</h3>
    <hr>
    </div>

    <div class="campo-formulario">
      <label>Videojuego</label>

      <div class="campo-busqueda">

        <input
          type="text"
          placeholder="Buscar intercambio..."
          [(ngModel)]="nombreJuegoIntercambio"
          (input)="buscarJuegoIntercambio()"
          (focus)="focusedJuegoIntercambio = true"
          (blur)="onBlurJuegoIntercambio()"
        />

        <span
          class="clear"
          *ngIf="nombreJuegoIntercambio"
          (click)="limpiarJuegoIntercambio()"
        >
          ✖
        </span>

        <div class="autocomplete" *ngIf="focusedJuegoIntercambio">

          <div *ngIf="loadingJuegoIntercambio" class="loading">
            Buscando...
          </div>

          <div *ngIf="!loadingJuegoIntercambio && resultadosBusquedaIntercambio.length">

            <div
              *ngFor="let j of resultadosBusquedaIntercambio"
              (click)="seleccionarJuegoIntercambio(j)"
            >
              <img *ngIf="j.imagen" [src]="j.imagen" />
              {{ j.nombre }}
            </div>

          </div>

          <div
            *ngIf="!loadingJuegoIntercambio && !resultadosBusquedaIntercambio.length && nombreJuegoIntercambio"
          >
            <div class="no-results">
              No se encontraron juegos
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="campo-formulario">
      <label>Plataforma</label>

      <div class="campo-busqueda">

        <input
          type="text"
          placeholder="Buscar plataforma..."
          [(ngModel)]="plataformaIntercambio"
          (input)="buscarPlataformaIntercambio()"
          (focus)="focusedPlataformaIntercambio = true"
          (blur)="onBlurPlataformaIntercambio()"
        />

        <span
          class="clear"
          *ngIf="plataformaIntercambio"
          (click)="plataformaIntercambio=''"
        >
          ✖
        </span>

        <div class="autocomplete" *ngIf="focusedPlataformaIntercambio">

          <div *ngIf="loadingPlataformaIntercambio" class="loading">
            Buscando...
          </div>

          <div *ngIf="!loadingPlataformaIntercambio && sugerenciasPlataformaIntercambio.length">

            <div
              *ngFor="let p of sugerenciasPlataformaIntercambio"
              (click)="seleccionarPlataformaIntercambio(p)"
            >
              <img *ngIf="p.imagen" [src]="p.imagen" />
              {{ p.nombre }}
            </div>

          </div>

          <div
            *ngIf="!loadingPlataformaIntercambio && !sugerenciasPlataformaIntercambio.length && plataformaIntercambio"
          >
            <div class="no-results">
              No se encontraron plataformas
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="campo-formulario">
      <label>Estado</label>

      <select [(ngModel)]="estadoIntercambio">

        <option value="">Seleccionar</option>

        <option value="NUEVO">Nuevo</option>
        <option value="USADO">Usado</option>

      </select>
    </div>
  </div>

  <div id="descripcion-block">
    <div class="separador">
    <label for="descripcion">Descripción</label>
    <hr>
    </div>
    <div>
      <textarea id="descripcion" [(ngModel)]="descripcion"></textarea>
    </div>

  </div>

</app-modal>